<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>英雄联盟</title>
    <!-- 导入semantic的样式文件 -->
    <link rel="stylesheet" href="/semantic/dist/semantic.css">
    <!-- 导入文件样式 -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- 导入jquery文件 -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!-- 导入semantic的js文件 -->
    <script src="/semantic/dist/semantic.js"></script>
    <!-- 导入arttemplate文件js -->
    <script src="/node_modules/art-template/lib/template-web.js"></script>
    <!-- 导入文件js -->
    <script src="/js/index.js"></script>
</head>

<body>
    <!-- 标题 -->
    <h1>英雄列表</h1>
    <!-- 添加按钮 -->
    <button id="addHero" class="ui primary button">
        添加
    </button>
    <!-- 表格 -->
    <table class="ui celled table blue striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- 模态框添加英雄 -->
    <div class="ui small modal">
        <div class="header">
            添加英雄
        </div>
        <div class="image content">
            <!-- 姓名 -->
            <form class="ui form hero">
                <div class="inline field">
                    <label>姓名：</label>
                    <input class="name" type="text" name="name" placeholder="姓名">
                </div>
                <!-- 性别 -->
                <div class="inline field">
                    <label>性别：</label>
                    <div class="ui radio checkbox">
                        <input type="radio" name="gender" checked tabindex="0" value="男">
                        <label>男</label>
                    </div>
                    <div class="ui radio checkbox">
                            <input type="radio" name="gender" tabindex="0" value="女">
                            <label>女</label>
                        </div>
                </div>
                
            </form>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive  button ok">
                确定
            </div>
        </div>
    </div>
    <!-- 模版数据 -->
    <script type="text/template" id="row">
        {{each data}}
        <tr>
            <td>
                <div class="ui ribbon label {{$value.isdel==0?'green':'red'}}">
                    {{$value.isdel==0?'正常':'删除'}}
                </div>
                {{$value.id}}
            </td>
            <td>{{$value.name}}</td>
            <td>{{$value.gender}}</td>
            <td>{{$value.ctime}}</td>
            <td>
                <a href="javascript:">编辑</a>
                <a href="javascript:">删除</a>
            </td>
            
        </tr>
        {{/each}}
    </script>
</body>

</html>