<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!-- 引入boostrap样式文件 -->
    <link rel="stylesheet" href="/node_modules/_bootstrap@3.3.7@bootstrap/dist/css/bootstrap.css">
    <!-- 引入jquery文件 -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!-- 引入boostrap脚本文件 -->
    <script src="/node_modules/_bootstrap@3.3.7@bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <!-- 导航 S-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">我的博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <%if(islogin){%>
                <!-- 文章 -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">文章 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="article/add">发表</a></li>
                            <li><a href="javascript:">问题</a></li>

                        </ul>
                    </li>
                </ul>
                <!-- 欢迎和注销 -->
                <div class="nav navbar-nav navbar-right navbar-form">
                    <button class="btn btn-warning">
                        欢迎
                        <strong><%=user.nickname%></strong>
                    </button>
                    <a href="/loginOut" class="btn btn-danger">注销</a>
                </div>
                <%}else{%>
                <!-- 注册和登录按钮 -->
                <div class="nav navbar-nav navbar-right navbar-form">
                    <a class="btn btn-success" href="/register">注册</a>
                    <a class="btn btn-primary" href="/login">登录</a>
                </div>
                <%}%>
                

               






            </div>
        </div>
    </nav>
    <!-- 导航 E-->